# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
number1 = 100
number2 = 100
print(number1 == number2)
print(id(number1) == id(number2))

True
True

Так, ці змінні посилаються на один і той же об'єкт

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
bool_value = True;
print(isinstance(bool_value, bool))
print(isinstance(bool_value, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
fst_number = 50;
scd_number = 5.5;
print(fst_number + scd_number)
print(fst_number - scd_number)
print(fst_number // scd_number)
print(fst_number / scd_number)
print(fst_number % scd_number)
print(fst_number * scd_number)
print(scd_number ** fst_number)

55.5
44.5
9.0
9.090909090909092
0.5
275.0
1.0426402219793768e+37

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
trd_number = int(scd_number)
print(trd_number)
bool_value1 = True;
fth_number = int(bool_value1)
print(fth_number)

5
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()
print(str1)
print(str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [2]:
str3 = "'"
str4 = r"'"
print(str3)
print(str4)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Bulavina"
print(f"My surname is {my_surname}")

My surname is Bulavina

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
line = "My dog is crazy"
tokens = line.split(" ");
tokens[0] = tokens[0].lower()
print(tokens)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = []
list2 = list();
print(list1)
print(list2)

[]
[]

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list3 = ["Cheeseburger"]
list4 = ["Vegetable", "Fruit"]
list3.append(list4)
print(list3)

['Cheeseburger', ['Vegetable', 'Fruit']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list5 = [["Cat", "Dog"], ["Cow"], ["Sheep", "Goat"]]
print(list5[-1][0])

Sheep

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list6 = [1, True, 2.45, "jumbo", ["mumbo"], (2.2, 4.4), {"Cheese" : 44}, {"cat", "dog", "cat", "fish"}, None, b"ilovebytes"]
list7 = list6[2:8]
print(list7)

[2.45, 'jumbo', ['mumbo'], (2.2, 4.4), {'Cheese': 44}, {'cat', 'dog', 'fish'}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = ("Volvo")
print(tuple1)

Volvo

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список та кортеж є впорядкованими, але список є mutable, а кортеж - immutable, тобто пілся створення кортежа його змінити не можна, а список можна (список має відповідні методи). Оскільки кортеж не може змінюватися, то він займає менше місця, ніж список. Списки використовують, коли треба могти динамічно змінювати інформацію (видаляти об'єкти, додавати), кортежі ж використовують для групування подібних об'єктів, наприклад, атрибути людини (ім'я, вік, день народження і тд.)

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple2 = (1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1)
tuple3 = tuple2[::-2]
print(tuple3)

(2.1, 1.9, 1.7, 1.5, 1.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set1 = set()
list8 = [1, 2, 3, 4, 5]
set1.update(list8)
print(set1)

{1, 2, 3}

Множини є змінним типом данних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set2 = set(my_list)
print(set2)

{1, 2, 67, 8, 9}

Зникли елементи-дублікати, бо множини містять лише унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set3 = {1, 2, 3, 4, 5}
set4 = {4, 5, 6, 7, 8}
print(set3 & set4)
print(set3 | set4)
print(set3 - set4)
print(set3 ^ set4)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dict1 = dict()
dict1["onion"] = 3
dict1[3] = "rat"
dict1[8.8] = "temperature"
dict1[True] = "yes"
print(dict1)

{'onion': 3, 3: 'rat', 8.8: 'temperature', True: 'yes'}

Ключі мають бути immutable об'єктами, тому список не може бути ключем, бо він muttable

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dict2 = {"products" : {"fruit" : {"apple" : 2, "banana" : 3}}, "free" : False}
print(dict2["products"]["fruit"]["apple"])

2

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.